/* Markdown articles minor tweaks */

/* Override prismjs styles */
article pre[class*="language-"] {
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
}

article h2 {
  margin-top: 1.75em;
}

article code {
  background: rgb(228, 228, 228);
  border-radius: 5px;
}

article img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

article p > a {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: grey;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

article p > a:hover {
  text-decoration-color: black;
}

article li {
  list-style: disc;
  margin-left: 1.5rem;
}
